header.header-wrap
    .container
        .header
            .logo <i class="far fa-save"></i> Мария Труфанова
            nav.top-menu 
            include ../switch-color-scheme/switch-color-scheme.pug