main.main 
    .container
        .main__wrap
            .main__text 
                .greeting 
                    .greeting__text Привет, я Маша 
                    img(src="./main/hand.png", alt="", class="greeting__img")
                h1.title Верстаю сайты
                .main__description.text 
                    |Помогаю дизайнерам и маркетологам реализовывать задуманные эффекты 
                    |и функционал за счет чистого, валидного, поддерживаемого кода
                .socials 
                    .socials__text Обитаю здесь
                    .socials__icons 
                        a(href="https://vk.com/maria_t_r", class="vk social__icon") 
                            <i class="fab fa-vk"></i>
                        a(href="https://t.me/matrumv" class="telegram social__icon")
                            <i class="fab fa-telegram-plane"></i>
                        a(href="https://www.instagram.com/maria.a.trufanova/" class=" social__icon")
                            <i class="fab fa-instagram instagram"></i>
            .main__img-wrap
                .main__img-block
                    img(src="./main/main__img.png", alt="", class="main__img")
                    .main__undercover