doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Блог верстальщика Марии Труфановой
        meta(name="description", content="Меня зовут Мария Труфанова. Это мой блог-портфолио верстальщика, где я рассказываю о верстке на html, css, js, tilda, wordpress")
    body 
        include header/header.pug
        include main/main.pug
    