doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Сайт-портфолио дизайнера Марии Труфановой
        meta(name="description", content="Меня зовут Мария Труфанова. Это мой сайт-портфолио веб-дизайнера, где я показываю свои работы и рассказываю о сайтах")
    body 
        include header/header.pug
        include main/main.pug
    